<%= render 'layouts/header' %>

<div class="main-visual-about">
 <div class="main-visual-text">
  <h1>Business Succession</h1>
  　<h3>M＆A・事業承継プラットフォーム</h3>
   	  <div class="site_description">
        人生100年時代の新しい生き方・新たなスタート。<br>
        新たなサービス・ビジネスの出会いの場です<br>
   	  </div>
 </div>
</div>
<h3>Business.Successionの特徴

事業家同士がWeb上でやりとりし、低コストでスピーディーに事業継承・M＆Aができる環境を提供致します。</h3>