<%= render 'layouts/header' %>
    <div class="main-visual-about">
        <div class="main-visual-text">
            <h1>Business Succession</h1>
  　        <h3>M＆A・事業承継プラットフォーム</h3>
   	        <div class="site_description">
                人生100年時代の新しい生き方・新たなスタート。<br>
                新たなサービス・ビジネスの出会いの場です<br>
   	        </div>
        </div>
    </div>
<h2 class="feature-headline">Business.Successionの特徴</h2>
<h3 class="feature-text">
    1.規模や地域の制約はありません。<br>
    2.無料でユーザー同士でやりとりができます。<br>
    ※コメントや気になる機能は新規登録・ログインが必要となります。<br>
</h3>